[Desktop Entry]
Name[bg]=Визуализатор на TigerVNC
Name[cs]=Prohlížeč TigerVNC
Name[da]=TigerVNC-fremviser
Name[de]=TigerVNC-Betrachter
Name[el]=Θεατής TigerVNC
Name[eo]=Rigardilo TigerVNC
Name[es]=Visor TigerVNC
Name[fi]=TigerVNC-selain
Name[fr]=Visionneuse TigerVNC
Name[fur]=Visualizadôr TigerVNC
Name[hu]=TigerVNC megjelenítő
Name[id]=Penampil TigerVNC
Name[nl]=TigerVNC-viewer
Name[pt_BR]=Visualizador TigerVNC
Name[ru]=TigerVNC Viewer
Name[sr]=Прегледач ТигарВНЦ
Name[sv]=VNC-visare
Name[tr]=TigerVNC Görüntüleyici
Name[uk]=Засіб перегляду TigerVNC
Name[vi]=Bộ xem TigerVNC
Name[zh_CN]=TigerVNC 查看器
Name=TigerVNC Viewer
GenericName[cs]=Prohlížeč vzdálené plochy
GenericName[pt_BR]=Visualização de área de trabalho remota
GenericName[ru]=Просмотр удалённых рабочих столов
GenericName[sv]=Fjärrskrivbordsvisare
GenericName[uk]=Засіб перегляду віддаленої стільниці
GenericName[vi]=Trình xem màn hình từ xa
GenericName=Remote Desktop Viewer
Comment[cs]=Připojí se k severu VNC a zobrazí vzdálenou plochu
Comment[da]=Opret forbindelse til VNC-server og vis fjern-skrivebord
Comment[fr]=Se connecter à un serveur VNC et afficher le bureau distant
Comment[pt_BR]=Conecte a um servidor VNC e exiba a área de trabalho remota
Comment[ru]=Подключиться к серверу VNC и показать удалённый рабочий стол
Comment[sv]=Anslut till en VNC-server och visa ett fjärrskrivbord
Comment[uk]=З'єднання із сервером VNC і показ віддаленої стільниці
Comment[vi]=Kết nối đến máy phục vụ VNC và hiển thị màn hình từ xa
Comment=Connect to VNC server and display remote desktop
Exec=/usr/bin/vncviewer
Icon[cs]=tigervnc
Icon[pt_BR]=tigervnc
Icon[ru]=tigervnc
Icon[sv]=tigervnc
Icon[uk]=tigervnc
Icon[vi]=tigervnc
Icon=tigervnc
Terminal=false
Type=Application
StartupWMClass=TigerVNC Viewer: Connection Details
Categories=Network;RemoteAccess;
