[Desktop Entry]
Version=1.0
Name=Fiji Is Just ImageJ
GenericName=Fiji Is Just ImageJ
X-GNOME-FullName=Fiji Is Just ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/srv/conda/vnc/Fiji.app/ImageJ-linux64
TryExec=/srv/conda/vnc/Fiji.app/ImageJ-linux64
Terminal=false
StartupNotify=true
Icon=/srv/conda/vnc/Fiji.app/images/icon.png
StartupWMClass=fiji-Main
