[Desktop Entry]
Version=1.0
Name=OMERO.insight
GenericName=OMERO.insight
X-GNOME-FullName=OMERO.insight
Comment=OMERO desktop client
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/srv/conda/vnc/OMERO.insight/bin/omero-insight
TryExec=/srv/conda/vnc/OMERO.insight/bin/omero-insight
Terminal=false
StartupNotify=true
Icon=/srv/conda/vnc/OMERO.insight/omero-logomark.svg
